node_modules/
build/
dist/
coverage/
expo/
vscode/

android/
ios/

babel.config.js
tailwind.config.js
metro.config.js
tsconfig.json
package.json
app.json
package-lock.json
expo-env.d.ts
README.md
global.css
.eslintrc.js

.prettierrc
.gitignore

assets/**/
.prettierignore

